Q1. How do you comment code in Python? What are the different types of comments?

In [3]:
#We can use comment code by using "#". Another way to comment in python is "Ctrl + /". There are three types of comments: single-line, multi-line, and docstring comments. The way comments are written depends on what kind they are.

In [4]:
#single-line comment

In [5]:
#Multi-line comment
#We can use "#" for multiline comment.

In [6]:
# comment using "Ctrl + /"

In [9]:
'''Even we can comment using three quotation marks, which called 'Docstrings' comment type'''

"Even we can comment using three quotation marks, which called 'Docstrings' comment type"

One another way is there to comment in python which is using 'Markdown' function.

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans Q2 - Python Variables are places in memory that store information, like numbers or text, that the Python Code can use later to do things. Example, if I want to write an integer number like 4, So I will write "a = 4", where "a" is variable. There are differnet types of variables like Integer, String, Float, Boolean, List, Dictionary, Tuple, Set.

Q2 (A) - How do you declare and assign values to variables?

In [10]:
#A2 (A) -  If I want to write an integer number like 4, So I will write "a = 4", where "a" is variable.

In [16]:
q2 = 4

In [17]:
type (q2)

int

Q3. How do you convert one data type to another in Python?

In [14]:
#Python defines type conversion functions like int(), float(), str() to directly convert one data type into another.
#We can convert any 'int' or 'float' data type into 'str',by puting any numerical value weather it is 'int' or 'float' in ''.

In [18]:
q3 = 2

In [20]:
type (q3)

int

In [25]:
q3a = '2'

In [26]:
type (q3a)

str

Q4. How do you write and execute a Python script from the command line?

A4. - We can write any code or any script in command line by using our mind and our keyboard. After completing written portion (code, comment or any script) we need to just hit 'Shift + enter' or 'Ctrl + enter' or 'execute button'

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [27]:
my_list = [1,2,3,4,5]

In [28]:
type (my_list)

list

In [34]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

A6. - Complex numbers are written as a+bi, where a and b are real numbers and "i" is an imaginary number called a "iota." For example, 2+3i is a complex number because 2 is a real number and 3i is an imaginary number. We can wite complex number in python also, we can write  in the form of (x + yj) where x and y are real numbers and j is an imaginary number.

In [35]:
q6 = 2 + 4j

In [36]:
type (q6)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [1]:
age = 25

In [2]:
type (age)

int

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [3]:
price = 9.99

In [4]:
type (price)

float

A8. - Data type of variable named price is 'floating point'

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [5]:
name = "Lamb Christian"

In [6]:
type (name)

str

In [7]:
print (name)

Lamb Christian

A9. - After creating variable named name and assigning full name (ie. "Lamb Christian"). Use 'print' command to print value of this variable.

Q10. Given the string "Hello, World!", extract the substring "World".

In [8]:
q10 = "Hello, World"

In [9]:
type (q10)

str

In [10]:
q10 [7:]

'World'

A10 - After creating "Hello, World" string, we can usind Index slicing concept for extract substring 'World'.

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [11]:
is_student = True

In [14]:
type (is_student)

bool